In [ ]:
# Day-5 of 100dayofcode [19/07/2022 tuesday]
# tuple
# key diiffernce between tuple and list that tuple cannot be change

In [3]:
# Creating a Tuple
t = (1, 2, 5, 5, 6)
print(t)
t = ("hello", 477, 045.4, [0, 7, 7, 5])
print(t)
print(len(t))

(1, 2, 5, 5, 6)
('hello', 477, 45.4, [0, 7, 7, 5])
4

In [4]:
# indexing and slicing with tuple
print(t[0])
print(t[0:2])
print(t[-1])
print(t[::-1])
print(t[0:5:2])

hello
('hello', 477)
[0, 7, 7, 5]
([0, 7, 7, 5], 45.4, 477, 'hello')
('hello', 45.4)

In [2]:
#Changing a Tuple
# we cannot changle value of tuple but can change value of list string in the tuple
t1 = (1,2,3,5)
t2=(1,[0,4,7,5])
print(t1,t2)
# t1[0] =55 this will give an error
t2[1][2] = 799
print(t2)

(1, 2, 3, 5) (1, [0, 4, 7, 5])
(1, [0, 4, 799, 5])

In [6]:
#concatenation with tuple
t3 = t1 +t2
print(t3)
t3 *=2
print(t3)

(1, 2, 3, 5, 1, [0, 4, 799, 5])
(1, 2, 3, 5, 1, [0, 4, 799, 5], 1, 2, 3, 5, 1, [0, 4, 799, 5])

In [8]:
#Nesting of Tuples
t = (1,(1,2,3))
print(t)
print(t[1][2])

(1, (1, 2, 3))
3

In [ ]:
#Tuple Methods
# Methods that add items or remove items are not available with tuple

In [21]:
# Sets
#Creating Python Sets
se = {1,2,5,5,63}# in set duplication is not allow
print(se)
#se = {1,4,5,[758,8,8,8]} #But a set cannot have mutable elements like lists, sets or dictionaries as its elements.
print(se)
se = {"helllo",1}
print(se)
se ={'ayush'}
print(se)

{1, 2, 5, 63}
{1, 2, 5, 63}
{1, 'helllo'}
{'ayush'}

In [25]:
#Creating an empty set
se = {}
print(type(se))# it is not set so 
se = set(se)
print(se)
print(type(se))

<class 'dict'>
set()
<class 'set'>

In [19]:
#Set Operations
# it is related to maths set
s1 = {1,2,3,4,5,6}
s2 = {2,3,4,5,6,7}
print(s1,s2)

{1, 2, 3, 4, 5, 6} {2, 3, 4, 5, 6, 7}

In [4]:
#Union
# union can be define | operator
# all elements of two sets
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
#Intersection
# Intersection can be define & operator
# all common elements of two set
print(s1&s2)

{2, 3, 4, 5, 6}

In [6]:
#Difference
#Difference can be define - operator
# all uncommon elements
print(s1-s2)
print(s2-s1)

{1}
{7}

In [7]:
#Symmetric Difference
#Symmetric Difference can be define ^ operator
# removing all common element
print(s1^s2)

{1, 7}
{1, 7}

In [10]:
#Set Methods
#add() method 
#add single element at a time presented than it will not add it
print(s1)
s1.add(77)
print(s1)
s1.add(5)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 77}
{1, 2, 3, 4, 5, 6, 77}

In [17]:
#update() method 
#it can add multiple element at time from a set 
print(s1)
s2.update(s1)

print(s1,s2)
print(s2)
dic = {'k1':788,'k2':78980}#it just add key only
s2.update(dic)
print(s2)

{1, 2, 3, 4, 5, 6, 77}
{1, 2, 3, 4, 5, 6, 77} {1, 2, 3, 4, 5, 6, 'k2', 77, 'k1'}
{1, 2, 3, 4, 5, 6, 'k2', 77, 'k1'}
{1, 2, 3, 4, 5, 6, 'k2', 77, 'k1'}

In [20]:
#remove() method
#removes the specified element from the set.
print(s2)
s2.remove(7) # if not present than it will give an error
print(s2)

{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6}

In [23]:
#discard() method
# same as remove() method if element not presnet than it will not give an error
print(s2)
s2.discard(4)
print(s2)
s2.discard(99)

{2, 3, 5, 6}
{2, 3, 5, 6}

In [27]:
#copy() method
#create a copy of set
s3 = {}
s3 = set(s3) 
s3 = s2.copy()
print(s3)
# with = operator
s4 = s3
print(s4)

{2, 3, 5, 6}
{2, 3, 5, 6}

In [28]:
#clear() method 
# it remove all element in set
print(s4)
s4.clear()
print(s4)

{2, 3, 5, 6}
set()

In [31]:
#pop() method 
# it randomly remove any element from set
print(s2)
s2.pop()
print(s2)

{2, 3, 5, 6}
{3, 5, 6}

In [35]:
#union() method
#returns a new set with distinct elements from all the sets.
s1 = {4,78,9,9,678,70}
s2 = {7,8,9,7,5,6,7,9,2,4}
s3 ={78799,156,4,894,9,48,4}
print(s1,s2,s3)
print("s1 U s2 :",s1.union(s2))
print("s2 U s1 :",s2.union(s1)) #same
print("s1 U s2 U s3 :",s1.union(s2,s3))

{4, 70, 678, 9, 78} {2, 4, 5, 6, 7, 8, 9} {48, 4, 9, 156, 894, 78799}
s1 U s2 : {2, 4, 5, 70, 678, 6, 9, 7, 8, 78}
s2 U s1 : {2, 4, 5, 6, 7, 8, 9, 70, 678, 78}
s1 U s2 U s3 : {2, 4, 5, 70, 678, 6, 9, 7, 8, 78, 78799, 48, 156, 894}

In [36]:
#difference() method 
#the difference of two sets and returns items that are unique to the first set.
print(s1,s2,s3)
print("s1 - s2 :",s1.difference(s2))
print("s2 - s1 :",s2.difference(s1)) #same
print("(s1 - s2) - s3 :",s1.difference(s2,s3))

{4, 70, 678, 9, 78} {2, 4, 5, 6, 7, 8, 9} {48, 4, 9, 156, 894, 78799}
s1 - s2 : {78, 678, 70}
s2 - s1 : {2, 5, 6, 7, 8}
(s1 - s2) - s3 : {78, 678, 70}

In [37]:
#difference_update() method
#he difference between two sets (A - B) and updates set A with the resulting set. it change the orignal set
print(s1,s2)
s1.difference_update(s2)
print(s1)

{4, 70, 678, 9, 78} {2, 4, 5, 6, 7, 8, 9}
{70, 678, 78}

In [41]:
#intersection() method 
#returns a new set with elements that are common to all sets.
s1 = {4,78,9,9,678,70}
s2 = {7,8,9,7,5,6,7,9,2,4}
s3 ={78799,156,4,894,9,48,4}
print(s1.intersection(s2))
print(s1.intersection(s2,s3))

{9, 4}
{9, 4}

In [42]:
#intersection_update() method
# it update the set with common elments of two or more set
print(s1)
s1.intersection_update(s2,s3)
print(s1)

{4, 70, 678, 9, 78}
{9, 4}

In [44]:
# symmetric_difference() method
# returns a new set with all uncommon element of an set 
s1 = {4,78,9,9,678,70}
s2 = {7,8,9,7,5,6,7,9,2,4}
s3 ={78799,156,4,894,9,48,4}
print(s1.symmetric_difference(s2))

{2, 5, 6, 7, 8, 70, 78, 678}

In [46]:
#symmetric_difference_update() method
# update the set with all uncommon elements of it
print(s1)
s1.symmetric_difference_update(s2)
print(s1)

{2, 5, 70, 7, 6, 8, 78, 678}
{4, 70, 9, 78, 678}

In [52]:
#isdisjoint() method 
#true if do not have any common element 
# false if they common elment
print(f"{s1}\n{s2}\n{s3}")
print(s1.isdisjoint(s2))
print(s2.isdisjoint(s3))

{4, 70, 9, 78, 678}
{2, 4, 5, 6, 7, 8, 9}
{48, 4, 9, 156, 894, 78799}
False
False

In [54]:
#issubset() method
# true if A is subset of B or if all the elements of set A are present in set B
#false  else
a = {1,2,3,4,5,6}
b ={3,4,5}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [55]:
#issuperset() method
# true if A is superset of B or if all the elements of set A are present in set B
#false  else
a = {1,2,3,4,5,6}
b ={3,4,5}
print(a.issuperset(b))
print(b.issuperset(a))

True
False

In [59]:
# frozenset()
#Frozen set is just an immutable version of a  set 
# (set/dict/tuple)
s = {1,778,8,9}
print(type(s))
s = frozenset(s)
print(type(s))
# s.add(5) it will give error due to frozenset

<class 'set'>
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [60]:
# dict to forzenset()
dic = {'k1':78,"k2":786}
print(type(dic))
fdic = frozenset(dic)#only key
print(fdic)
print(type(fdic))

<class 'dict'>
frozenset({'k2', 'k1'})
<class 'frozenset'>