# Day-24 of 100dayofcode [07/08/2022 sunday]


A CSV (Comma Separated Values) format is one of the most simple and common ways to store tabular data. To represent a CSV file, it must be saved with the .csv file extension.

ex 

SN, Name, City

1, Michael, New Jersey

2, Jack, California

the csv file text has genrally separted by `,` called a delimite. but their more delimite `tab (\t), colon (:) and semi-colon (;)`

In [13]:
#let open a csv file
with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as csv:
    freader = csv.read()
    csv.seek(0)
    freaderl = csv.readlines()

In [14]:
print(freader)# this data is printed in raw fomate but we can not use it easily

NAME,AGE,GENDER
varun,25,Male
John,21,Male
veer,18,Male
kushi,19,Female

In [15]:
print(freaderl) # and this data is in list

['NAME,AGE,GENDER\n', 'varun,25,Male\n', 'John,21,Male\n', 'veer,18,Male\n', 'kushi,19,Female']

In [16]:
# lets use csv libary

In [17]:
import csv

In [18]:
with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as file:
    freader = csv.reader(file) # cvs.reader(file pointer)

In [19]:
print(freader) # so we need to itertor over it

<_csv.reader object at 0x000002116A883F40>

In [20]:
for row in freader:
    print(row)

ValueError: I/O operation on closed file.

In [22]:
with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as file:
    freader = csv.reader(file)
    for row in freader:
        print(row)
# still good than the pervious one

['NAME', 'AGE', 'GENDER']
['varun', '25', 'Male']
['John', '21', 'Male']
['veer', '18', 'Male']
['kushi', '19', 'Female']

In [28]:
#lets sort this data in a list 
name = []

with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as file:
    freader = csv.reader(file)
    for row in freader:
        print(row)
        if(row[0]):
            name.append(row[0])

['NAME', 'AGE', 'GENDER']
['varun', '25', 'Male']
['John', '21', 'Male']
['veer', '18', 'Male']
['kushi', '19', 'Female']

In [29]:
print(name)

['NAME', 'varun', 'John', 'veer', 'kushi']

In [31]:
# lest seperated the age
age = []
with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as file:
    freader = csv.reader(file)
    for row in freader:
        # print(row)
        if(row[1]):
            age.append(row[1])

print(age)
# but their is 2 problem 
# first the nummber are str so we need it convert in int
# the first element is a columm name

['AGE', '25', '21', '18', '19']

In [91]:
age = []
with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as file:
    freader = csv.reader(file)
    for row in freader:
        # print(row)
        if(row[1] != 'AGE'):
            age.append(row[1])

print(age)

['25', '21', '18', '19']

In [32]:
# Read CSV file Having Tab Delimiter
with open("RAW_DATA_FOR_CSV_FILE - Sheet1.csv") as file:
    freader = csv.reader(file,delimiter = '\t')
    for row in freader:
        print(row)

['NAME,AGE,GENDER']
['varun,25,Male']
['John,21,Male']
['veer,18,Male']
['kushi,19,Female']

In [47]:
#Writing CSV files Using csv.writer()
with open("temp.csv",mode='w') as file:
    fwrite = csv.writer(file)
    fwrite.writerow(['Name','AGE','gender'])
    fwrite.writerow(['ayush','25','male'])
    fwrite.writerow(['veer','55','male'])

In [49]:
with open("temp.csv") as file:
    fread = csv.reader(file)
    for i in fread:
        print(i)

# their is problem it show empyt list etc

['Name', 'AGE', 'gender']
[]
['ayush', '25', 'male']
[]
['veer', '55', 'male']
[]

In [42]:

with open('protagonist.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["SN", "Movie", "Protagonist"])
    writer.writerow([1, "Lord of the Rings", "Frodo Baggins"])
    writer.writerow([2, "Harry Potter", "Harry Potter"])

In [63]:
with open("temp.csv",mode='w',newline='') as file:
    fwrite = csv.writer(file)
    fwrite.writerow(['SN NO.','Name','AGE','gender'])
    fwrite.writerow([1,'ayush','25','male'])
    fwrite.writerow([2,'veer','55','male'])

In [64]:
with open("temp.csv") as file:
    fread = csv.reader(file)
    for i in fread:
        print(i)
#fixed

['SN NO.', 'Name', 'AGE', 'gender']
['1', 'ayush', '25', 'male']
['2', 'veer', '55', 'male']

In [70]:
#Writing multiple rows with writerows()
csv_rowlist = [["SN", "Movie", "Protagonist"], [1, "Lord of the Rings", "Frodo Baggins"],[2, "Harry Potter", "Harry Potter"]]
with open('temp.csv', 'w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(csv_rowlist)

In [71]:
with open('temp.csv') as file:
    fread = csv.reader(file)
    for i in fread:
        print(i)

['SN', 'Movie', 'Protagonist']
['1', 'Lord of the Rings', 'Frodo Baggins']
['2', 'Harry Potter', 'Harry Potter']

In [76]:
#Python csv.DictReader()
with open('temp.csv') as file:
    dictread = csv.DictReader(file)
    for i in dictread:
        print(i)
#Note: Starting from Python 3.8, csv.DictReader() returns a dictionary for each row,
#  and we do not need to use dict() explicitly.

{'SN': '1', 'Movie': 'Lord of the Rings', 'Protagonist': 'Frodo Baggins'}
{'SN': '2', 'Movie': 'Harry Potter', 'Protagonist': 'Harry Potter'}

In [ ]:
#Python csv.DictWriter()
with open('temp.csv', 'w', newline='') as file:
    keys = ['player_name', 'fide_rating']
    writer = csv.DictWriter(file, fieldnames=keys)

    writer.writeheader()
    writer.writerow({'player_name': 'Magnus Carlsen', 'fide_rating': 2870})
    writer.writerow({'player_name': 'Fabiano Caruana', 'fide_rating': 2822})
    writer.writerow({'player_name': 'Ding Liren', 'fide_rating': 2801})

In [77]:
#Using the Pandas library to Handle CSV files
"""Pandas is a popular data science library in Python for data manipulation and analysis. 
If we are working with huge chunks of data, it's better to use pandas to handle CSV files for ease and efficiency."""

"Pandas is a popular data science library in Python for data manipulation and analysis. \nIf we are working with huge chunks of data, it's better to use pandas to handle CSV files for ease and efficiency."

In [78]:
import pandas
# let install it

ModuleNotFoundError: No module named 'pandas'

In [79]:
import pandas

In [81]:
pandas.read_csv('temp.csv')
# it look;s good

   SN              Movie    Protagonist
0   1  Lord of the Rings  Frodo Baggins
1   2       Harry Potter   Harry Potter

In [83]:
df = pandas.DataFrame([['Jack', 24], ['Rose', 22]], columns = ['Name', 'Age'])

# writing data frame to a CSV file
df.to_csv('temp.csv')

In [84]:
pandas.read_csv('temp.csv')
# it look;s good

   Unnamed: 0  Name  Age
0           0  Jack   24
1           1  Rose   22

In [ ]:
# going to learn full pandas libary soon