In [1]:
# Day-14 of 100dayofcode [28/07/2022 thrusday]

In [2]:
#max() function
#max() function returns the largest item in an iterable. It can also be used to find the largest item between two or more parameters.
#syntax : max(iterable, *iterables, key, default)
from IPython.display import Image
Image(url= "https://i.postimg.cc/htCSTky0/image.png", width=921, height=323)

In [15]:
ls = list(range(11,18))
print(max(ls))
lss = ["ayush","piyush","divyanshu","hunny"]# by alphabetically
print(max(lss))
dic = {"k1":897,'k2':45,'k3':1042}
print(max(dic))#bydefault key
print(max(dic.values()))
print(max(dic.items()))
t = (1,8,5)
print(max(t))
se = {0,89,4,53}
print(max(se))
ls1 = [1,8,9]
ls2 = [8,1,10,2]
print(max(ls1,ls2))#compare two list by their len

17
piyush
k3
1042
('k3', 1042)
8
89
[8, 1, 10, 2]

In [16]:
#min() function
# min() function returns the smallest item in an iterable. It can also be used to find the smallest item between two or more parameters.
# syntax : min(iterable, *iterables, key, default)
from IPython.display import Image
Image(url= "https://i.postimg.cc/5NZCCk0T/image.png", width=921, height=323)

In [17]:

print(min(ls))
lss = ["ayush","piyush","divyanshu","hunny"]# by alphabetically
print(min(lss))
dic = {"k1":897,'k2':45,'k3':1042}
print(min(dic))#bydefault key
print(min(dic.values()))
print(min(dic.items()))
t = (1,8,5)
print(min(t))
se = {0,89,4,53}
print(min(se))
ls1 = [1,8,9]
ls2 = [8,1,10,2]
print(min(ls1,ls2))

11
ayush
k1
45
('k1', 897)
1
0
[1, 8, 9]

In [18]:
#next() function
#next() function returns the next item from the iterator.
# syntax :next(iterator, default)
from IPython.display import Image
Image(url= "https://i.postimg.cc/MHfykkH0/image.png", width=987, height=212)

In [22]:
ls = [544,56464,88499]
ls = iter(ls)
print(next(ls))
print(next(ls))
print(next(ls))
print(next(ls))# error due to out of range

544
56464
88499

StopIteration:

In [25]:
#oct() function
# oct() function takes an integer number and returns its octal representation.
# syntax : oct( integer number (binary, decimal or hexadecimal))
print(oct(8464))
print(oct(-1))

0o20420
-0o1

In [26]:
# pow() function
# pow() method computes the power of a number by raising the first argument to the second argument 
# syntax : pow(number, power, modulus [optional])
from IPython.display import Image
Image(url= "https://i.postimg.cc/Y0Sm75SD/image.png", width=1003, height=317)

In [28]:
print(pow(2,2))
print(pow(2,5))
print(pow(2,-2))
print(pow(2,8,10))

4
32
0.25
6

In [32]:
# repr() function
# repr() function returns a printable representation of the given object.
# syntax : repr(obj)
# obj - the object whose printable representation has to be returned
print(repr(["DAY-010 - SMALL PROJECT'S.ipynb"]))
print("DAY-014.ipynb")
print("'adada'")
print(repr("'adada'"))

["DAY-010 - SMALL PROJECT'S.ipynb"]
DAY-014.ipynb
'adada'
"'adada'"

In [33]:
#round() function
# round() function returns a floating-point number rounded to the specified number of decimals.
# synatx : round(number, ndigits)
from IPython.display import Image
Image(url= "https://i.postimg.cc/mD3CS3cR/image.png", width=973, height=241)

In [39]:
print(round(13.455))
print(round(47.14555,3))
n = '1.145'
print(round(n,2))

13
47.146

TypeError: type str doesn't define __round__ method

In [41]:
print(round(eval('1.145')))

1

In [50]:
#  set() function
# set() function creates a set in Python.
# syntax : set(iterable)
# iterable (optional) - a sequence (string, tuple, etc.) or collection (set, dictionary, etc.) or an iterator object to be converted into a set.
n  = [44,56,4]
n =set(n)
print(type(n))
z  = {"k1":564}
z = set(z)
print(z)
print(type(z))
z = set(z)
print(z)
print(type(z))
a =(54,89,840)
a = set(a)
print(type(a))

<class 'set'>
{'k1'}
<class 'set'>
{'k1'}
<class 'set'>
<class 'set'>

In [60]:
#slice() function
#slice() function returns a slice object that is used to slice any sequence (string, tuple, list, range, or bytes).
# syntax :slice(start, stop, step)
from IPython.display import Image
Image(url= "https://i.postimg.cc/qMnd40bN/image.png", width=1040, height=409)

In [59]:
x= "ayush"
a  = slice(2)
print(x[a])
a  = slice(0,4)
print(x[a])
a  = slice(0,4,2)
print(x[a])

ay
ayus
au

In [62]:
# str() function
# str() method returns the string representation of a given object.
# syntax : str(object, encoding='utf-8', errors='strict')
from IPython.display import Image
Image(url= "https://i.postimg.cc/1XgGqvnz/image.png", width=990, height=501)

In [66]:
n = 56446
n = str(n)
print(type(n))
l = ["1","455",1]
l = str(l)
print(type(l),l)

<class 'str'>
<class 'str'> ['1', '455', 1]

In [67]:
# tuple fucntion
# The tuple() builtin can be used to create tuples in Python.
# syntax :tuple(iterable)
from IPython.display import Image
Image(url= "https://i.postimg.cc/j2RR7Hv3/image.png", width=897, height=197)

In [68]:
a  = "ayush"
a  = tuple(a)
print(type(a),a)

<class 'tuple'> ('a', 'y', 'u', 's', 'h')

## Find 3 to next 3 function
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    f33([1, 3, 3]) → True
    f33([1, 3, 1, 3]) → False
    f33([3, 1, 3]) → False

In [96]:
def f33(ls = 'None'):
    for i in range(0,len(ls)-1):
        if(ls[i]==3 and ls[i+1]==3):
            return(True)
    return(False)

In [99]:
print(f33([1,3,3]))
print(f33([1,2,3,2]))
print(f33([1,2,3,3]))

True
False
True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [111]:
def paper_doll(s="none"):
    ret = ''
    for i in  s:
        ret = ret + i*3
    print(ret)

In [112]:
paper_doll("ay")

aaayyy

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [137]:
def blackjack(a,b,c='none'):
    if(a <=11 and b<=11 and c<=11):
        if(sum((a,b,c))<=21):
            return(sum((a,b,c)))
        elif(sum((a,b,c))<=31 and 11 in (a,b,c)):
                return(sum((a,b,c))-10)
        else:
            return("BUST")
    else:
        print("the number range should be between 1-11")

In [138]:
print(blackjack(1,2,3))
print(blackjack(9,9,9))
print(blackjack(8,10,11))
print(blackjack(15,10,11))

6
BUST
19
the number range should be between 1-11
None

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [155]:
def summer_69(ls):
    sun = 0
    b =True
    for i in ls:
        while b:
            if(i!=6):
                sun+=i
                break
            else:
                b =False
        while not b:
            if(i!=9):
                
                break
            else:
                b =True
                break
    return(sun)

In [156]:
summer_69([1,3,5])

9

In [159]:
summer_69([4,8, 6, 7, 8, 9])

12

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [162]:
def spy_game(ls):
    check = [0,0,7,'counter']
    for i in ls:
        if (i==check[0]):
            check.pop(0)# 0 index will going to pop out
    return(len(check) == 1)

In [163]:
spy_game([1,2,4,0,0,7,5])

True

In [164]:
spy_game([1,0,2,4,0,5,7])

True