# Day-16 of 100dayofcode [30/07/2022 saturday]

In [1]:
# map() function
# map function allow us to put all list /iterable items in function 
# syntax  :- map(function_name,iterlable object)

In [2]:
def simplef(n):
    return(n*5)

In [3]:
simplef(55)

275

In [4]:
simplef(45,88)#error due to only one arg

TypeError: simplef() takes 1 positional argument but 2 were given

In [6]:
simplef([1,125,5]) # doesnot work

[1, 125, 5, 1, 125, 5, 1, 125, 5, 1, 125, 5, 1, 125, 5]

In [8]:
ils = [0,5,6,79]

In [9]:
map(simplef,ils)# but we donot want its memmory location we need the list

In [10]:
list(map(simplef,ils))

[0, 25, 30, 395]

In [11]:
# what happen when we use () in map(function(),iterable)
map(simplef(),ils)

TypeError: simplef() missing 1 required positional argument: 'n'

In [12]:
def splicer(n):
    if(len(n)%2==0):
        return("EVEN")
    else:
        return(n[0])

In [13]:
nl =["ayush","vijay",'ravi']

In [15]:
list(map(splicer,nl))

['a', 'v', 'EVEN']

In [16]:
for i in list(map(splicer,nl)):
    print(i)

a
v
EVEN

In [20]:
list(map(len,nl))

[5, 5, 4]

In [19]:
numbers = [54645,88,-44,56]

list(map(float, numbers))

[54645.0, 88.0, -44.0, 56.0]

In [26]:
#Multiple Input Iterables With map()
ls1 =[1,2,6,7,8]
ls2 = [2,8,9,7,9]
list(map(pow,ls1,ls2))#pow() takes two arguments, x and y, and returns x to the power of y

[1, 256, 10077696, 823543, 134217728]

In [31]:
print(list(map(str.casefold,nl)))
print(list(map(str.capitalize,nl)))
print(list(map(str.upper,nl)))
print(list(map(str.lower,nl)))

['ayush', 'vijay', 'ravi']
['Ayush', 'Vijay', 'Ravi']
['AYUSH', 'VIJAY', 'RAVI']
['ayush', 'vijay', 'ravi']

In [41]:
#starmap() function 
# it is use for tuple 
from itertools import starmap

list(starmap(pow,[(2,3),(2,2)]))

[8, 4]

In [43]:

list(map(pow,[(2,3),(2,2)]))

TypeError: pow() missing required argument 'exp' (pos 2)

In [44]:
#filter() function 
#it filter put true or  flase condition in a function
#synytax : filter(function_name,iterlable object)
def fun(n):
    return(n%2==0)
ls = list(range(0,11))
print(ls)
filter(fun,ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
list(filter(fun,ls))

[0, 2, 4, 6, 8, 10]

In [46]:
def fun(n):
    return(n%2!=0)

In [47]:
list(filter(fun,ls))

[1, 3, 5, 7, 9]

In [48]:
def ps(n):
    if(n>0):
        return(n)

In [50]:
ls = list(range(-5,6))
print(ls)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [62]:
tuple(filter(ps,ls))

(1, 2, 3, 4, 5)

In [63]:
def palindrome(n):
    n  = n.lower()
    rn = n[::-1]

    rn =rn.lower()
    if(rn==n):
        return(n)

In [71]:
words = ("filter", "Ana", "hello", "world", "madam", "racecar")

In [72]:
list(filter(palindrome,words))

['Ana', 'madam', 'racecar']

In [79]:
# reduce function
"""Pythonâ€™s reduce() is a function that implements a mathematical technique called folding or reduction.
 reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value."""

""""""
# it just give single result or final
#syntax : reduce(function_name,iterlable object)
from functools import reduce
def sun(a,b):
    return(a+b)
ls = [0,2,5,6]
print(ls)

[0, 2, 5, 6]

In [80]:
reduce(sun,ls)

13

In [81]:
# working
def sun(a,b):
    print(f"{a} + {b} = {a+b} ")
    return(a+b)

In [82]:
reduce(sun,ls)

0 + 2 = 2
2 + 5 = 7
7 + 6 = 13

13

In [85]:
#Anonymous/Lambda Function
# this function is use craete one line or one time usable function
# syntax :- lambda i:i  / lambda arguments: expression
def s(a):return(a*a)

In [86]:
s(5)

25

In [88]:
# lambda version 
s = lambda a: a*a

In [89]:
s(5)

25

In [92]:
l = list(range(0,6))

In [93]:
# lets use it with map()
list(map(lambda a:a*a,l))

[0, 1, 4, 9, 16, 25]

In [95]:
# lets use it with filter()
list(filter(lambda a:a%2==0,l))

[0, 2, 4]

In [109]:
lp =[lambda a:a*2 for i in range(0,11)]

In [110]:
print(lp)

[<function <listcomp>.<lambda> at 0x00000235515789D0>, <function <listcomp>.<lambda> at 0x0000023551579990>, <function <listcomp>.<lambda> at 0x00000235515792D0>, <function <listcomp>.<lambda> at 0x0000023551579090>, <function <listcomp>.<lambda> at 0x0000023551579D80>, <function <listcomp>.<lambda> at 0x0000023551579E10>, <function <listcomp>.<lambda> at 0x0000023551579CF0>, <function <listcomp>.<lambda> at 0x0000023551579FC0>, <function <listcomp>.<lambda> at 0x000002355157A050>, <function <listcomp>.<lambda> at 0x0000023551579120>, <function <listcomp>.<lambda> at 0x000002355157A0E0>]

In [111]:
tables = [lambda x=x: x*10 for x in range(1, 11)]

In [118]:
ls = ["ayush","ravi","divyanshu"]
print(list(map(lambda x:x[::-1],ls)))

['hsuya', 'ivar', 'uhsnayvid']